body {font-family: 'Open Sans', sans-serif;}

/* Header */

a {color: white;
font-weight: bold;
text-decoration: none;
}

nav li a .logo {display: inline-block;
text-decoration: none;
font-size: 20px;}

.intro {padding-top: 80px}

nav, h1, .order-button {
    text-transform:uppercase;}

.logo {display: inline-block; 
text-decoration: none;
color: white;
margin: 10px}

header {
    color: white;
    background-image: url(../images/header-bg.jpg); center 0 no-repeat;
    height: 630px;
    background-size: cover;
  }

h1 {font-size: 60px;
}

ul{
    margin: 0;
    float: right;}

li{display:inline-block;
  width: 150px; }

li a {
      display: inline-block;
      padding: 19.5px 15px 19.5px; }

nav {background: rgba(225,225,225,0.2);
}

.text.right {text-align: right;}
.call-to-action {
    padding-top: 20px;
    text-align: center;}


.logo-pull-left{float:left}

.clearfix::after {
    display: block;
    content: "";
    clear: both;}

.order-button {
    cursor: pointer;
    border-top-color: #5bb5fd  !important;
    border-bottom-color: #00508d  !important;
    border-left-color: transparent !important;
    border-right: transparent !important;
    background: linear-gradient(to bottom, #399cee  0%,#0060a7  100%);
    padding: 19px 39px;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    border-width: 1px;
    border-style: solid;
}
    .order-button:hover {
        background: linear-gradient(to bottom, #3a9cee  0%,#0078d1  100%) !important;
    }
    .order-button:active {
        background: #3a9cee  !important;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) inset;
    }


.container {
    max-width: 1080px;
    margin: 0 auto;
}

nav li a:hover {background-color: rgba(225,225,225,0.2);
 }


 .scroll-down {
    background: url(../images/arrow-down.png) no-repeat center 16px;
    display: block;
    border: 2px solid #fff;
    text-indent: -9999px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 40px;
    height: 40px;
    border-radius: 500px;
}
    .scroll-down:hover {
        position: relative;
        top: 2px;
    }

    .col-xs-4 {
    width: 30%;
    float: left;
    padding: 0 1%;
}


.icon {background-image: url(../images/intro-icons.png);
width: 60px;
height: 60px;
display: inline-block;
background-repeat: no-repeat;
padding: 20px 0 0
}

.icon-galaxy {background-position: -60px 0}

.icon-spaceship {background-position: -120px 0}

.icon:hover {background-image: url(../images/intro-icons-hover.png);}

section {text-align: center;
    padding: 60px 10px;
}
    section h1 {
        background: #ed303c ;
        display: inline-block;
        padding: 0 35px;
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        line-height: 40px;
        margin-bottom: 60px;
        font-weight: normal;
    }

.section-content-title {
    font-size: 24px;
    font-weight: 300;
    color: #333;
    margin-top: 0;
    line-height: 1.3;
}